.pui-toast__container {
  position:fixed;
  z-index: 999;
  max-width: 360px;
  &.pui-toast__container--top-left {
    top: 12px;
    left:12px;
  }
  &.pui-toast__container--top-center {
    top: 12px;
    left:50%;
    transform: translateX(-50%);
  }
  &.pui-toast__container--top-right {
    top: 12px;
    right:12px;
  }
  &.pui-toast__container--bottom-left {
    bottom: 12px;
    left:12px;
  }
  &.pui-toast__container--bottom-center {
    bottom: 12px;
    left:50%;
    transform: translateX(-50%);
  }
  &.pui-toast__container--bottom-right {
    bottom: 12px;
    right:12px;
  }
}
.pui-toast {
  width: fit-content;
  min-width: 200px;
  max-width: 400px;
  margin-bottom: 12px;
}